<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>sumServlet</servlet-name>
        <servlet-class>org.example.dynamicwebapplication.sumServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sumServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TotalServlet</servlet-name>
        <servlet-class>org.example.dynamicwebapplication.TotalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TotalServlet</servlet-name>
        <url-pattern>/answer</url-pattern>
    </servlet-mapping>


</web-app>
